/* You can add global styles to this file, and also import other style files */
body{
  margin: 50px;
}
input, .row, .card {
  margin-bottom: 10px;
}

.right {
  float: right;
}

.card-body {
  padding-bottom: 0px;
}

body > app-root > div:nth-child(1) > div > app-form > button{
  background-color: #28a745;
  border-color: #28a745;
}
